<app-header-style-one></app-header-style-one>


<section class="blog-area ptb-100">
    <div class="container">
        <div class="row"> 

            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post mb-30">
                            <div class="post-image">
                                <a routerLink="/single-blog" class="d-block">
                                    <img src="assets/img/mmm.jpg" alt="image">
                                </a>

                                <div class="tag">
                                    <a routerLink="/blog-style-2">
                                        Gestionnaire de voyages</a>
                                </div>
                            </div>

                            <div class="post-content">
                                <ul class="post-meta">
                                    <li class="post-author">
                                        <img src="assets/img/aaa.png" class="d-inline-block rounded-circle mr-2" alt="image"><a routerLink="/blog-style-2" class="d-inline-block">Nouvelair 30 ans d'émotions</a>
                                    </li>
                                    <li><a routerLink="/blog-style-2">15 ‎Mars ‎2021</a></li>
                                </ul>
                                <h3><a routerLink="/single-blog" class="d-inline-block">Nouvelair offre un voyage organisé à Istanbul </a></h3>
                                <a routerLink="/single-blog" class="read-more-btn">Plus d'infos<i class='bx bx-right-arrow-alt'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post mb-30">
                            <div class="post-image">
                                <a routerLink="/single-blog" class="d-block">
                                    <img src="assets/img/nnn.jpg" alt="image">
                                </a>

                                <div class="tag">
                                    <a routerLink="/blog-style-2">Social</a>
                                </div>
                            </div>

                            <div class="post-content">
                                <ul class="post-meta">
                                    <li class="post-author">
                                        <img src="assets/img/fff.jpg" class="d-inline-block rounded-circle mr-2" alt="image"><a routerLink="/blog-style-2" class="d-inline-block">Rotary Club Carthage Horizon</a>
                                    </li>
                                    <li><a routerLink="/blog-style-2">25 février 2021</a></li>
                                </ul>
                                <h3><a routerLink="/single-blog" class="d-inline-block">Une conférence organisée sous le théme "La Paix dans le monde"</a></h3>
                                <a routerLink="/single-blog" class="read-more-btn">Plus d'infos<i class='bx bx-right-arrow-alt'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post mb-30">
                            <div class="post-image">
                                <a routerLink="/single-blog" class="d-block">
                                    <img src="assets/img/ooo.jpg" alt="image">
                                </a>

                                <div class="tag">
                                    <a routerLink="/blog-style-2">Santé</a>
                                </div>
                            </div>

                            <div class="post-content">
                                <ul class="post-meta">
                                    <li class="post-author">
                                        <img src="assets/img/ppp.png" class="d-inline-block rounded-circle mr-2" alt="image"> <a routerLink="/blog-style-2" class="d-inline-block">Prix Orange de l'Entrepreneur Social</a>
                                    </li>
                                    <li>
                                        <a routerLink="/blog-style-2">10 septembre 2020</a>
                                    </li>
                                </ul>
                                <h3><a routerLink="/single-blog" class="d-inline-block">Lamia Chouk est la  première helpline psychologique B2C et B2B, en Afrique du Nord, qui offre des téléconsultations  </a></h3>
                                <a routerLink="/single-blog" class="read-more-btn">Plus d'infos <i class='bx bx-right-arrow-alt'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post mb-30">
                            <div class="post-image">
                                <a routerLink="/single-blog" class="d-block">
                                    <img src="assets/img/qqq.jpg" alt="image">
                                </a>

                                <div class="tag">
                                    <a routerLink="/blog-style-2">Industrie</a>
                                </div>
                            </div>

                            <div class="post-content">
                                <ul class="post-meta">
                                    <li class="post-author">
                                        <img src="assets/img/rrr.png" class="d-inline-block rounded-circle mr-2" alt="image"> <a routerLink="/blog-style-2" class="d-inline-block">Tunisiennes lauréates de l’édition 2020</a>

                                    </li>
                                    <li>25 février 2020</li>
                                </ul>
                                <h3><a routerLink="/single-blog" class="d-inline-block">La jeune créatrice Anissa Meddeb a reçu la prix du BH bank</a></h3>
                                <a routerLink="/single-blog" class="read-more-btn">Plus d'infos <i class='bx bx-right-arrow-alt'></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post mb-30">
                            <div class="post-image">
                                <a routerLink="/single-blog" class="d-block">
                                    <img src="assets/img/sss.jpg" alt="image">
                                </a>

                                <div class="tag">
                                    <a routerLink="/blog-style-2">Artisanat</a>
                                </div>
                            </div>

                            <div class="post-content">
                                <ul class="post-meta">
                                    <li class="post-author">
                                        <img src="assets/img/rrr.png" class="d-inline-block rounded-circle mr-2" alt="image"><a routerLink="/blog-style-2" class="d-inline-block">Tunisiennes lauréates de l’édition 2020</a>
                                    </li>
                                    <li><a routerLink="/blog-style-2">25 février 2020</a></li>
                                </ul>
                                <h3><a routerLink="/single-blog" class="d-inline-block">Fatma Samet a élu Femme Entrepreneure 2020 par le Manager </a></h3>
                                <a routerLink="/single-blog" class="read-more-btn">Plus d'infos <i class='bx bx-right-arrow-alt'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post mb-30">
                            <div class="post-image">
                                <a routerLink="/single-blog" class="d-block">
                                    <img src="assets/img/lll.jpg" alt="image">
                                </a>

                                <div class="tag">
                                    <a routerLink="/blog-style-2">Business Consultant</a>
                                </div>
                            </div>

                            <div class="post-content">
                                <ul class="post-meta">
                                    <li class="post-author">
                                        <img src="assets/img/kkk.jpg" class="d-inline-block rounded-circle mr-2" alt="image">
                                        <a routerLink="/blog-style-2" class="d-inline-block">One Young World</a>
                                    </li>
                                    <li><a routerLink="/blog-style-2">23 octobre 2019</a></li>
                                </ul>
                                <h3><a routerLink="/single-blog" class="d-inline-block">Salmine est une entrepreneuse tunisienne qui développe l'écosystéme entrepreneurial en Tunisie</a></h3>
                                <a routerLink="/single-blog" class="read-more-btn">Read More <i class='bx bx-right-arrow-alt'></i></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="pagination-area text-center">
                            <span class="page-numbers current" aria-current="page">1</span>
                            <a routerLink="/blog-style-3" class="page-numbers">2</a>
                            <a routerLink="/blog-style-3" class="next page-numbers"><i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">

                    <section class="widget widget_tag_cloud">
                        <h3 class="widget-title">Secteur professionnel</h3>

                        <div class="tagcloud">
                            <a routerLink="/blog-style-2">Management<span class="tag-link-count"> (2)</span></a>
                            <a routerLink="/blog-style-2">Finance<span class="tag-link-count"> (3)</span></a>
                            <a routerLink="/blog-style-2">Artisanat<span class="tag-link-count"> (3)</span></a>
                            <a routerLink="/blog-style-2">Informatique<span class="tag-link-count"> (3)</span></a>
                            <a routerLink="/blog-style-2">Santé<span class="tag-link-count"> (1)</span></a>
                            <a routerLink="/blog-style-2">Gestionnaire de voyages<span class="tag-link-count"> (1)</span></a>
                            <a routerLink="/blog-style-2">Social<span class="tag-link-count"> (1)</span></a>
                            <a routerLink="/blog-style-2">Industrie<span class="tag-link-count"> (1)</span></a>
                            <a routerLink="/blog-style-2">Business Consultant<span class="tag-link-count"> (1)</span></a>
                        </div>
                    </section>
                    

                   

                </aside>
            </div>
        </div>
    </div>
</section>