

<section class="contact-area pb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Tunsian Women's Empowerment</span>
            <h2>Participer Aux Webinaires</h2>
        </div>

        <div class="contact-form">
            <form id="contactForm">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input type="text" name="prenom" id="prenom" class="form-control" placeholder="Prénom">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                        </div>
                    </div>

                    <!-- <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Téléphone">
                        </div>
                    </div> -->

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <select name="webinaire" id="webinaire" class="form-control" placeholder="Webinaire : ">
                                <option value=""></option>

                                <option value="one">Coaching</option>
                                <option value="two">Atteindre vos objectifs</option>
                                <option value="three">Success Stories</option>
</select>
                    </div>
                    </div>

                    
                    <div >
                        <button type="submit" class="default-btn"><i class='bx bx-paper-plane icon-arrow before'></i><span class="label">Envoyer</span><i class="bx bx-paper-plane icon-arrow after"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="particles-js-circle-bubble-3"></div>
    <div class="contact-bg-image"><img src="assets/img/map.png" alt="image"></div>
</section>

