<!-- 



<div *ngFor="let value of values; let i = index">

<input type="text" [(ngModel)]="value.value" #name="ngModel" name="value{{i}}">

<button (click)="removeValue(i)">Remove</button>


</div>

<button (click)="addValue()">add</button> -->

<!-- 
<h2>Results</h2>
<div *ngFor="let value of values;">
    {{ value.value}}
</div> -->


<div class="container">
<div class="row">
    

    <div class="col-lg-8 col-xl-8">
        <div class="card-box">
            
            
            <div class="tab-content">
                
                <div class="tab-pane show active" id="about-me">

                    <ul class="list-unstyled timeline-sm">
                        <li class="timeline-sm-item">
                            <span class="timeline-sm-date">2015 - 2021</span>
                            <h5 class="mt-0 mb-1">Lead designer / Developer</h5>
                            <p>websitename.com</p>
         
                        </li>
                        <li class="timeline-sm-item">
                            <span class="timeline-sm-date">2012 - 2015</span>
                            <h5 class="mt-0 mb-1">Senior Graphic Designer</h5>
                            <p>Software Inc.</p>
                
                        </li>
                        <li class="timeline-sm-item">
                            <span class="timeline-sm-date">2010 - 2012</span>
                            <h5 class="mt-0 mb-1">Graphic Designer</h5>
                            <p>Coderthemes LLP</p>

                        </li>
                    </ul>
                    </div></div></div></div></div></div>

                  