<app-header-style-one></app-header-style-one>


<div class="container">
    <div class="instructor-details-desc">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="instructor-details-sidebar">
                    <img src="assets/img/instructor/instructor1.jpg" alt="image">
    
                    <div class="instructor-details-meta">
                        <ul>
                            <li>
                                <i class='bx bxs-group'></i>
                                <span>Nombre de vues</span>
                                <a routerLink="/">102</a>
                            </li>
                           
                        </ul>
                    </div>
                    <ul class="social-link">
                        <li><a href="#" class="d-block facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>
    
            <div class="col-lg-8 col-md-8">
                <div class="instructor-details">
                    <h3>BEN ALI Lili</h3>
                    <span class="sub-title">Medecin en dermatologie</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    <div class="instructor-details-info">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <h3>Formation</h3>
                                <ul>
                                    <li>
                                        <i class='bx bxs-graduation'></i>
                                        <span>Harvard University</span>
                                        Bachelor in Mathematics
                                    </li>
                                    <li>
                                        <i class='bx bxs-graduation'></i>
                                        <span>University of Toronto</span>
                                        Bachelor in English
                                    </li>
                                </ul>
                            </div>
    
                            <div class="col-lg-6 col-md-12">
                                <h3>Expérience Professionnel</h3>
                                <ul>
                                    <li>
                                        <i class='bx bx-briefcase'></i>
                                        <span>Envato</span>
                                        2000-2010
                                    </li>
                                    <li>
                                        <i class='bx bx-briefcase'></i>
                                        <span>EnvyTheme</span>
                                        2010-2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
<section class="my-dashboard-area ptb-100">
    <div class="container">
        <div class="myDashboard-navigation">
            <ul>
                <li><a routerLink="/my-dashboard"><i class='bx bxs-dashboard'></i> A propos</a></li>
                <li><a routerLink="/orders"><i class='bx bxs-graduation'></i> Cursus Scolaire et Professionnel</a></li>
                <li><a routerLink="/downloads" class="active"><i class='bx bx-download'></i> Fichiers</a></li>
                <li><a routerLink="/edit-address"><span class="iconify" data-icon="fa-solid:comment" data-inline="false"></span> Recommandation</a></li>

            </ul>
        </div>


 






        

        <div class="myDashboard-content">
            <div class="downloads-table table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom du fichier</th>
                            <th>Date d'obtention</th>
                            <th>Télécharger</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a routerLink="/single-courses">Curriculum Vitae</a></td>
                            <td>15/03/2021</td>
                            <td><a routerLink="/downloads" class="downloads-button">Cliquer ici</a></td>
                        </tr>
                        <tr>
                            <td><a routerLink="/single-courses">Certificat en Management</a></td>
                            <td>01/05/2020</td>
                            <td><a routerLink="/downloads" class="downloads-button">Cliquer ici</a></td>
                        </tr>
                        <tr>
                            <td><a routerLink="/single-courses"> le premier prix dans une compétition d'ingénierie</a></td>
                            <td>16/09/2019</td>
                            <td><a routerLink="/downloads" class="downloads-button">Cliquer ici</a></td>
                        </tr>
                       

                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>