<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-instructor-member mb-30">
            <div class="member-image">
                <img src="assets/img/ccc.jpg" alt="images">
       
            </div>

            <div class="member-content">
                <h3><a routerLink="/single-instructor">  L’égalité professionnelle femmes-hommes en Tunisie</a></h3>
                <span> - TWE - </span>

                <ul class="social">
                    <li><a href="https://www.facebook.com/ibcom.agency" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                     <li><a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                    <li><a href="https://www.instagram.com/ibcom.agency/?hl=fr" class="instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                    <li><a href="https://www.linkedin.com/company/ibcomprod/" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-instructor-member mb-30">
            <div class="member-image">
                <img src="assets/img/jjj.jpg" alt="images">
            </div>
            <div class="member-content">
                <h3><a routerLink="/single-instructor">Le soutien aux femmes tunisiennes
                     à fort potentiel d’impact</a></h3>
                     <span> - TWE - </span>

              
                     <ul class="social">
                        <li><a href="https://www.facebook.com/ibcom.agency" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/ibcom.agency/?hl=fr" class="instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/company/ibcomprod/" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
        <div class="single-instructor-member mb-30">
            <div class="member-image">
                <img src="assets/img/mmm.jpg" alt="images">
            </div>

            <div class="member-content">
                <h3><a routerLink="/single-instructor">Pouvoir agir en ayant conscience de soi </a></h3>
                <span> - TWE - </span>

               
                <ul class="social">
                    <li><a href="https://www.facebook.com/ibcom.agency" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                    <li><a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                    <li><a href="https://www.instagram.com/ibcom.agency/?hl=fr" class="instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                    <li><a href="https://www.linkedin.com/company/ibcomprod/" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>