<div class="hero-banner bg-white">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="hero-banner-content black-color">
                            <span class="sub-title">Tunisian Women's Empowerment</span>
                            <h1>On vous offre des opportunités professionnelles intéressantes  !</h1>
                            <p>Raque supports students by introducing collaborators outside R, internships and research experience abroad
                                .</p>
                            
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="hero-banner-image text-center">
                            <img src="assets/img/banner-img3.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br>
<br><br><br>


<!-- <app-how-it-works></app-how-it-works> -->



<app-homethree-about></app-homethree-about>



