<div class="banner-section">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-content">
                    <span class="sub-title">Nouveauté</span>
                    <h1>Tunisian Women's EMPOWERMENT</h1>
                    <p>Lancement du premier plateforme tunisienne qui supporte les femmes entrepreneures.</p>
                    <div class="btn-box">
                        <a routerLink="/" class="default-btn"><i class='bx bx-move-horizontal icon-arrow before'></i><span class="label">Découvrir ici</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                        <a href="https://www.youtube.com/watch?v=uqSihvg8FKo" class="video-btn popup-youtube"><span><i class='bx bx-play-circle'></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>
</div>