





<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-light">
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;

  
   <a href="/"><img src="assets/img/logo.png" width="150px" height="150px"></a> 
            
    &nbsp;    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;

 

    <!-- <button class="btn btn-md btn-outline-dark" (click)="open(content)"> 
      <i class="fa fa-user"></i> Nouvelle Candidate</button> -->
      &nbsp;&nbsp;
 
    
    
</nav>
<br><br><br><br>



  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/recruteur"
           role="button"
           class="btn btn-outline-dark btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Espace Recruteurs
        </a>
      </div>
      <div class="col-sm">
        <a href="/up"
        role="button"
        class="btn btn-outline-dark btn-lg btn-block text-center">
       <span><i class="fa fa-users"></i></span>
       <br>Espace Candidates
     </a>
      </div>
      <div class="col-sm">
        <a href="/blog"
           role="button"
           class="btn btn-outline-dark btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Blog
        </a>
      </div>
      <div class="col-sm">
        <a href="/list-partenaire"
           role="button"
           class="btn btn-outline-dark btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Partenaires
        </a>
      </div>
    </div>
  </div> 