<app-header-style-one></app-header-style-one>

<h3>Modifier votre compte</h3>

<div class="myDashboard-content">
    <form action="upload.php" method="post" enctype="multipart/form-data">
    <label for="fileToUpload">
  <div class="profile-pic" style="background-image: url(../../../../assets/img/portrait-femme-au-bureau_23-2148131653.jpg)">
      <span class="glyphicon glyphicon-camera"></span>
      <span>Change Image</span>
  </div>
  </label>
  <input type="File" name="fileToUpload" id="fileToUpload">




  <div class="avatar-upload">
    <div class="avatar-edit">
        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
        <label for="imageUpload"></label>
    </div>
    
</div>


<!-- 
    <form class="edit-account">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Nom <span class="required">*</span></label>
                    <input type="text" class="form-control" id="nom" [(ngModel)] = "candidate.nom" name="nom">
                        </div>
                        </div>

            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Prénom <span class="required">*</span></label>
                    <input type="text" class="form-control" id="prenom" [(ngModel)] = "candidate.prenom" name="prenom">
                        </div>
                        
            </div>

        
           
            <div class="col-lg-6 col-md-12">
                <div class="form-group">
                    <label>EmailID <span class="required">*</span></label>
                    <input type="text" class="form-control" id="emailId" [(ngModel)] = "candidate.emailId" name="emailId">
                        </div>
                        
            </div>


            <button class=" btn btn-success" type="submit">update</button> -->

<!-- 
            <div class="col-lg-6 col-md-12">
                <div class="form-group">
                    <label>Téléphone <span class="required">*</span></label>
                    <input type="number" class="form-control" value="55848444">
                </div>
            </div> 




            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label>Mot de passe actuelle</label>
                    <input type="password" class="form-control">
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label>Nouveau Mot de passe</label>
                    <input type="password" class="form-control">
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="form-group">
                    <label>Confirmer</label>
                    <input type="password" class="form-control">
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <button type="submit" class="default-btn"><i class='bx bx-save icon-arrow before'></i><span class="label">Sauvgarder</span><i class="bx bx-save icon-arrow after"></i></button>
            </div> -->
        <!-- </div>
    </form>
</div> -->


