<div class="courses-categories-slides owl-carousel owl-theme">
    <div class="single-categories-courses-box mb-30">
        <div class="icon">
            <i class='bx bx-code-alt'></i>
        </div>
        <h3>Action 1</h3>
        <span>Béneficiantes : 30</span>
        <a routerLink="/" class="link-btn"></a>
    </div>

    <div class="single-categories-courses-box mb-30">
        <div class="icon">
            <i class='bx bx-camera'></i>
        </div>
        <h3>Action 2 </h3>
        <span>Bénéficiantes: 55</span>
        <a routerLink="/" class="link-btn"></a>
    </div>

    <div class="single-categories-courses-box mb-30">
        <div class="icon">
            <i class='bx bx-layer'></i>
        </div>
        <h3>Action 3</h3>
        <span>Bénéficiantes : 76 </span>
        <a routerLink="/" class="link-btn"></a>
    </div>

    <div class="single-categories-courses-box mb-30">
        <div class="icon">
            <i class='bx bxs-flag-checkered'></i>
        </div>
        <h3>Action 4</h3>
        <span>Bénéficiantes:120</span>
        <a routerLink="/" class="link-btn"></a>
    </div>

    <div class="single-categories-courses-box mb-30">
        <div class="icon">
            <i class='bx bx-health'></i>
        </div>
        <h3>Action 5</h3>
        <span>bénéficiantes 200</span>
        <a routerLink="/" class="link-btn"></a>
    </div>

    <div class="single-categories-courses-box mb-30">
        <div class="icon">
            <i class='bx bx-line-chart'></i>
        </div>
        <h3>Action 6</h3>
        <span>Bénéficiantes 370</span>
        <a routerLink="/" class="link-btn"></a>
    </div>
</div>