<div class="row">
    <div class="col-lg-3 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bxs-group'></i>
            </div>
            <h3 class="odometer" data-count="50">00</h3>
            <p>Soutenir les femmes entrepreneures</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bx-book-reader'></i>
            </div>
            <h3 class="odometer" data-count="174">00</h3>
            <p>Conférence de presse</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bx-user-pin'></i>
            </div>
            <h3 class="odometer" data-count="75">00</h3>
            <p>Défendre l'égalité entre les deux sexes</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bxl-deviantart'></i>
            </div>
            <h3 class="odometer" data-count="104">00</h3>
            <p>Accompagnement dans le domaine de la politique</p>
        </div>
    </div>
</div>