<div class="testimonials-slides owl-carousel owl-theme">
    <div class="single-testimonials-item">
        <p>« Nous n’avons aujourd’hui d’autre alternative que de faire preuve d’engagement et de responsabilité et d’opter pour la voie du dialogue et du consensus afin de trouver une issue heureuse à la situation difficile que traverse la Tunisie </p>
        <div class="info">
            <img src="assets/img/téléchargement (4).jpg" class="shadow rounded-circle" alt="image">
            <h3>Wided Bouchamaoui</h3>
            <span>présidente de l'UTICA</span>
        </div>
    </div>

    <div class="single-testimonials-item">
        <p>Les législations sur les droits de la femme n’ont pas évolué</p>

           <div class="info">
            <img src="assets/img/maya3.jpg" class="shadow rounded-circle" alt="image">
            <h3>Maya Jribi</h3>
            <span>femme politique tunisienne</span>

        </div>
    </div>

    <div class="single-testimonials-item">
        <p>«Je n’aime pas trop cette distinction entre chefs d’entreprise hommes et femmes»</p>        
        <div class="info">
            <img src="assets/img/téléchargement (4).jpg" class="shadow rounded-circle" alt="image">
            <h3>Wided Bouchamaoui</h3>
            <span>présidente de l'UTICA</span>
        </div>
    </div>

    <div class="single-testimonials-item">
        <p>«parler du droit naturel des femmes au plaisir, à une vie amoureuse et sexuelle épanouie»</p>        
        <div class="info">
            <img src="assets/img/téléchargement (3).jpg" class="shadow rounded-circle" alt="image">
         
            <h3>Salma Baccar</h3>
            <span>Réalisatrice et femme politique</span>
        </div>
    </div>
</div>