.row{background-color: #f4f4f4;
    border-radius: 5px;
    height: 250px;
    width: 600px;
    padding: 20px;
}
.container{
    padding-left:300px ;
}
.body{
    margin-top: 20px;
}
button{
    border: transparent;
    background-color: transparent;
}








