<app-header-style-one></app-header-style-one>
<section class="become-instructor-partner-area">
    <div class="container-fluid">
        <div class="row">
                    <div class="col-lg-6 col-md-6">
                 <div class="become-instructor-partner-image bg-image2 jarallax" data-jarallax='{"speed": 0.3}'>
                </div> 
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content">
                    <h2>BEN ALI Lili</h2>
                    <p>cheffe d'entreprise, femme politique, auteure et conférencière tunisienne
                   

<br>
              25 avril 1973 , Tunis <br>
               
                         Institut de technologie de Karlsruhe 
                         <br> benali.lili@gmail.com </p>


          
                    <a routerLink="/courses-list" class="default-btn"> 
                        <i class='bx bx-show-alt icon-arrow before'></i>
                        <span class="label">Modifier Compte</span>
                         <i class='bx bx-show-alt icon-arrow after'></i></a> 
             
             &nbsp; &nbsp;
                    <!-- <a routerLink="/deposer-cv" class="default-btn"> <i class='bx bx-plus-circle icon-arrow before'></i><span class="label">Déposer CV</span> <i class='bx bx-plus-circle icon-arrow after'></i></a> -->

  
                            <a routerLink="/deposer-cv" routerLinkActive="active" class="nav-link default-btn"><i class='bx bx-plus-circle icon-arrow before'></i><span class="label">Déposer CV</span> <i class='bx bx-plus-circle icon-arrow after'></i></a>
                            
                            
                      
                   
             
             
             
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product-details-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
        
            <div class="col-lg-12 col-md-12">
                <div class="tab products-details-tab">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <ul class="tabs">
                                <li><a href="#">
                                    <div class="dot"></div> Publication
                                </a></li>
                                
                             
                                <li><a href="#">
                                    <div class="dot"></div> Gallerie
                                </a></li>

                                <li><a href="#">
                                    <div class="dot"></div> Recommandation
                                </a></li>

                                
                            </ul>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="tab-content">
                                <div class="tabs-item">
                                    <div class="products-details-tab-content">









                                        
                                    </div>
                                </div>

                                <div class="tabs-item">
                                   
                                    <app-gallery-page></app-gallery-page>
                                </div>

                                <div class="tabs-item">
                                    <div class="products-details-tab-content">
                                        <div class="product-review-form">
                                            <h3>Customer Reviews</h3>

                                            <div class="review-title">
                                                <div class="rating">
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bx-star'></i>
                                                </div>
                                                <p>Based on 3 reviews</p>

                                            </div>

                                            <div class="review-comments">
                                                <div class="review-item">
                                                    <div class="rating">
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bx-star'></i>
                                                    </div>
                                                    <h3>Good</h3>
                                                    <span><strong>Admin</strong> on <strong>Sep 21, 2019</strong></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>

                                                <div class="review-item">
                                                    <div class="rating">
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bx-star'></i>
                                                    </div>
                                                    <h3>Good</h3>
                                                    <span><strong>Admin</strong> on <strong>Sep 21, 2019</strong></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>

                                                <div class="review-item">
                                                    <div class="rating">
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bx-star'></i>
                                                    </div>
                                                    <h3>Good</h3>
                                                    <span><strong>Admin</strong> on <strong>Sep 21, 2019</strong></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>

                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</section>

