<app-header-style-one></app-header-style-one>


<section class="my-dashboard-area ptb-100">
    <div class="container">
       

        <div class="instructor-details-desc">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="instructor-details-sidebar">
                        <img src="{{user.imageUrl}}" alt="image">

                        <div class="instructor-details-meta">
                            <ul>
                                <li>
                                    <i class='bx bxs-group'></i>
                                    <span>Nombre de vues</span>
                                    <a routerLink="/">102</a>
                                </li>
                               
                            </ul>
                        </div>
                        <ul class="social-link">
                            <li><a href="https://www.facebook.com/" class="d-block facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="https://twitter.com/" class="d-block twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="https://www.instagram.com/" class="d-block instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="https://www.linkedin.com/" class="d-block linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8">
                    <div class="instructor-details" >
                        <h3>{{user.nomCand}} {{user.prenomCand}}</h3>
                        <span class="sub-title">{{user.poste}}</span>
                         {{ user.paysCand }} - {{user.villeCand}}
               
                        <p> {{user.apropos}}</p>
                        <div class="instructor-details-info">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <h3>Formation</h3>
                                    <ul>
                                        <li *ngFor="let c of cursus; let i = index;"> 
                                            
                                            <i class='bx bxs-graduation'></i>
                                            <span></span>
                                        
                                            {{cursus[i].diplome}} - 
                                            {{cursus[i].universityDiplome}}
                                            <!-- {{cursus[i].anneeDiplome}}  -->
                                      
                                        </li>
                                
                                    </ul>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <h3>Carriére</h3>
                                    <ul>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            <span>{{user.poste}}</span>
                                        
                                        </li>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            <span>{{user.certificationCand}}</span>
                                            {{user.experience}}
                                        </li>
                                   
                                 
                                    </ul>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>




<!-- New work here -->



      <div class="myDashboard-navigation">
          
<div id="exTab3" class="container">	
            <ul  class="nav nav-pills">
                <li class="active"><a href="#1b" data-toggle="tab"><i class='bx bxs-dashboard'></i>A propos </a></li>
                <li><a href="#2b" data-toggle="tab" (click)="getCursusUser(userId)"><i class='bx bxs-graduation'></i> Cursus Scolaire et Professionnel</a></li>
                <li><a href="#3b" data-toggle="tab"><i class='bx bx-download'></i> Fichiers</a></li>
                <li><a a href="#4b" data-toggle="tab"><span class="iconify" data-icon="fa-solid:comment" data-inline="false"></span> Recommandation</a></li>
            </ul>
        </div>

    

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1b">
                <div class="myDashboard-content" >
                    <h6 name="nom" ngModel><i class="fa fa-user"></i>  Nom et Prénom :  {{user.nomCand}} {{user.prenomCand}}</h6>   
                                           <h6><i class="fa fa-briefcase"></i>     Actuellement : {{user.poste}}</h6>
                                           <h6><i class="fa fa-briefcase"></i>     Date de Naissance : XXX</h6>
                                           <h6><i class="fa fa-home"></i>     Habite à : {{user.adresseCand}} , {{user.villeCand}} </h6>            
                                           <h6><i class="fa fa-map-marker"></i>     De : {{user.paysCand}} </h6>  
                                           <h6><i class="fa fa-heart"></i>  Statut marital  :  {{user.sitAmoureuse}}</h6>       
                </div>
            </div>
              <div class="tab-pane" id="3b">

                <div class="myDashboard-content">
                    <div class="downloads-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nom du fichier</th>
                                    <th>Date d'obtention</th>
                                    <th>Télécharger</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a routerLink="/single-courses">Curriculum Vitae</a></td>
                                    <td>15/03/2021</td>
                                    <td><a routerLink="/downloads" class="downloads-button">Cliquer ici</a></td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/single-courses">Certificat en Management</a></td>
                                    <td>01/05/2020</td>
                                    <td><a routerLink="/downloads" class="downloads-button">Cliquer ici</a></td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/single-courses"> le premier prix dans une compétition d'ingénierie</a></td>
                                    <td>16/09/2019</td>
                                    <td><a routerLink="/downloads" class="downloads-button">Cliquer ici</a></td>
                                </tr>
                               
        
                             
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>





      <div class="tab-pane" id="2b">

        
        <section class="cart-area ptb-100">
            <div class="container">
                <form>
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                      




                             <thead>
                                <tr>
                                    <th scope="col">Université</th>
                              
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let c of cursus; let i = index;">
                                    <td class="product-thumbnail">
                                        <a routerLink="/single-products">
                        <img src="{{user.imageUrl}}" alt="image">
                                        </a>
                                    </td>
                                    <td >
                                        <div routerLink="/">{{cursus[i].diplome}}</div>
                                    </td>
                                    <td>
                                        <span> {{cursus[i].universityDiplome}}</span>
                                    </td>
                                    <td class="product-quantity">
                                        <div class="input-counter">
                                            {{cursus[i].anneeDiplome}} 
                                        </div>
                                    </td>
                                </tr>
                            </tbody>


                            <br><br>

                            <thead>
                                <tr>
                                    <th scope="col">Emploi</th>
                              
                                </tr>
                            </thead>
                         

                        </table>
                    </div>
        
                   
        
                
                </form>
            </div>
        </section>

    
    
    
    </div>





        <div class="tab-pane" id="4b">


        <div class="myDashboard-content">
            <section class="product-details-area pt-20 pb-40">
                <div class="container">
                    <div class="row align-items-center">
               
            
                        <div class="col-lg-12 col-md-12">
                            <div class="tab products-details-tab">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="tab-content">
                                             <div class="tabs-item">
                                                <div class="products-details-tab-content">
                                                    <div class="product-review-form">           
                                                        <div class="review-comments">
                                                            <div class="review-item">
                                                                <div class="rating">
                                                                    <i class='bx bxs-star'></i>
                                                                    <i class='bx bxs-star'></i>
                                                                    <i class='bx bxs-star'></i>
                                                                    <i class='bx bxs-star'></i>
                                                                    <i class='bx bx-star'></i>
                                                                </div>
                                                                <h3>Good</h3>
                                                                <span><strong>Admin</strong> on <strong>Sep 21, 2019</strong></span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                            </div>
            
                                                            <div class="review-item">
                                                                <div class="rating">
                                                                    <i class='bx bxs-star'></i>
                                                                    <i class='bx bxs-star'></i>
                                                                    <i class='bx bxs-star'></i>
                                                                    <i class='bx bxs-star'></i>
                                                                    <i class='bx bx-star'></i>
                                                                </div>
                                                                <h3>Good</h3>
                                                                <span><strong>Admin</strong> on <strong>Sep 21, 2019</strong></span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                            </div>
            
                                                            <div class="review-item">
                                                                <div class="rating">
                                                                    <i class='bx bxs-star'></i>
                                                                    <i class='bx bxs-star'></i>
                                                                    <i class='bx bxs-star'></i>
                                                                    <i class='bx bxs-star'></i>
                                                                    <i class='bx bx-star'></i>
                                                                </div>
                                                                <h3>Good</h3>
                                                                <span><strong>Admin</strong> on <strong>Sep 21, 2019</strong></span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                            </div>
                                                        </div>
            
                                                        <div class="review-form">
                                                            <h3>Write a Review</h3>
            
                                                            <form>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6">
                                                                        <div class="form-group">
                                                                            <input type="text" id="name" name="name" placeholder="Enter your name" class="form-control">
                                                                        </div>
                                                                    </div>
            
                                                                    <div class="col-lg-6 col-md-6">
                                                                        <div class="form-group">
                                                                            <input type="email" id="email" name="email" placeholder="Enter your email" class="form-control">
                                                                        </div>
                                                                    </div>
            
                                                                    <div class="col-lg-12 col-md-12">
                                                                        <div class="form-group">
                                                                            <input type="text" id="review-title" name="review-title" placeholder="Enter your review a title" class="form-control">
                                                                        </div>
                                                                    </div>
            
                                                                    <div class="col-lg-12 col-md-12">
                                                                        <div class="form-group">
                                                                            <textarea name="review-body" id="review-body" cols="30" rows="6" placeholder="Write your comments here" class="form-control"></textarea>
                                                                        </div>
                                                                    </div>
            
                                                                    <div class="col-lg-12 col-md-12">
                                                                        <button type="submit" class="default-btn"><i class='bx bx-paper-plane icon-arrow before'></i><span class="label">Submit Review</span><i class="bx bx-paper-plane icon-arrow after"></i></button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div></div></div></div></div></div></div></section>
         
        </div>
          </div>
        </div>
        </div>



    </div>
</section> 






<!-- New work here top 


     <div class="myDashboard-navigation">
            <ul>
                <li><a routerLink="/my-dashboard" class="active"><i class='bx bxs-dashboard'></i>A propos </a></li>
                <li><a routerLink="/orders"><i class='bx bxs-graduation'></i> Cursus Scolaire et Professionnel</a></li>
                <li><a routerLink="/downloads"><i class='bx bx-download'></i> Fichiers</a></li>
                <li><a routerLink="/edit-address"><span class="iconify" data-icon="fa-solid:comment" data-inline="false"></span> Recommandation</a></li>
            </ul>
        </div>

        <div class="myDashboard-content" >
            <h6 name="nom" ngModel><i class="fa fa-user"></i>    {{ candidate.nom }} {{candidate.prenom}}</h6>   
                                   <h6><i class="fa fa-briefcase"></i>    Actuellement  {{candidate.poste}}</h6>
                                   <h6><i class="fa fa-home"></i>    Habite à  {{candidate.adresse}} , {{candidate.ville}} </h6>            
                                   <h6><i class="fa fa-map-marker"></i>    De {{candidate.pays}} </h6>  
                                   <h6><i class="fa fa-heart"></i>     {{candidate.sitAmoureuse}}</h6>   
            
        </div>-->
