<div class="row">
    <div class="col-lg-4 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bxs-group'></i>
            </div>
            <h3 class="odometer" data-count="8">00</h3>
            <p>Formatrice</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bx-book-reader'></i>
            </div>
            <h3 class="odometer" data-count="17">00</h3>
            <p>Nombre des formations</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bx-user-pin'></i>
            </div>
            <h3 class="odometer" data-count="50">00</h3>
            <p>Personne Bénéficiant</p>
        </div>
    </div>

</div>