

<div class="row">
    <div class="col-md6 offset-md-3 mt-4">
    <h4>Veuillez confirmer votre adresse email </h4>
    <!-- <a href="https://www.google.com/gmail/" class="default-btn"> <i class="fa fa-check icon-arrow before"></i> <span class="label" >Confirmer</span> <i class="fa fa-check icon-arrow after"></i></a> -->
    <button class="default-btn"> <i class="fa fa-check icon-arrow before"></i> <span class="label" ><a href="https://www.google.com/gmail/">Confirmer</a></span> <i class="fa fa-check icon-arrow after"></i></button>
</div>