.faq-accordion-tab {
    .tabs {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 60px;
        text-align: center;

        li {
            margin: {
                left: 10px;
                right: 10px;
            };
            a {
                color: var(--blackColor);
                text-decoration: none;
                border-radius: 5px;
                padding: 20px;
                display: block;
                box-shadow: 2px 8px 20px 0 rgba(25, 42, 70, .13)!important;
                font: {
                    size: 16px;
                    weight: 600;
                };
                i {
                    font-size: 30px;
                }
                span {
                    display: block;
                    margin-top: 8px;
                }
                &:hover {
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                }
            }
            &.current {
                a {
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                }
            }
        }
    }
}
.faq-item {
    margin-bottom: 30px;

    h3 {
        margin-bottom: 13px;
        line-height: 1.4;
        font: {
            size: 18px;
            weight: 600;
        };
    }
    strong {
        color: var(--blackColor);
    }
}

@media only screen and (max-width: 767px) {

    .faq-accordion-tab {
        .tabs {
            margin-bottom: 20px;

            li {
                margin-bottom: 20px;

                a {
                    padding: 10px;
                    font-size: 14px;

                    i {
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .faq-item {
        h3 {
            font-size: 15px;
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .faq-accordion-tab {
        .tabs {
            margin-bottom: 30px;

            li {
                margin-bottom: 20px;
            }
        }
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
@media only screen and (min-width: 1200px) and (max-width: 1275px) {

}