<section class="become-instructor-partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content bg-color">
                    <h2>Devenir un partenaire                     </h2>

                    <p>Réjoignez-nous maintenant et devient l'un des nos nobles Partenaires .. Merci pour votre confiance..</p>
                    <a routerLink="/partenaire" class="default-btn"><i class='bx bx-plus-circle icon-arrow before'></i>
                        <span class="label" >Rejoindre</span><i class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-image bg-image1 jarallax" data-jarallax='{"speed": 0.3}'>
                    <img src=".\assets\img\Partenaires.png" alt="image">
                </div>
            </div>

            <!-- <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-image bg-image2 jarallax" data-jarallax='{"speed": 0.3}'>
                    <img src="assets/img/become-partner.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content">
                    <h2>Become a Partner</h2>
                    <p>Choose from hundreds of free courses, or get a degree or certificate at a breakthrough price. Learn at your own pace.</p>
                    <a routerLink="/login" class="default-btn"><i class='bx bx-plus-circle icon-arrow before'></i><span class="label">Contact Us</span><i class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div> -->


        </div>
    </div>
</section>
