<div class="feedback-slides owl-carousel owl-theme">
    <div class="single-feedback-item">
        <p>“Les femmes qui demandent juste à être les égales des hommes manquent d’ambition.”</p>

        <div class="info">
            <h3>Marylin Monroe</h3>
            <span>USA</span>
            <img src="assets/img/vf_marilyn_monroe_home_2822.jpeg_north_640x640_transparent.jpg" class="shadow rounded-circle" alt="image">
        </div>
    </div>

    <div class="single-feedback-item">
        <p>“Je ne crois pas en l’échec. Il n’y a pas d’échec si l’on prend du plaisir à vivre l’aventure.”</p>

        <div class="info">
            <h3>Oprah Winfrey</h3>
            <span>USA</span>
            <img src="assets/img/téléchargement (6).jpg" class="shadow rounded-circle" alt="image">

        </div>
    </div>

    <div class="single-feedback-item">
        <p>“La réussite ne se mesure pas à l’argent que vous gagnez mais à votre capacité à changer les vie des gens. ”</p>

        <div class="info">
            <h3>Michelle Obama</h3>
            <span>USA</span>
            <img src="assets/img/Michelle-Obama-ses-10-citations-sur-les-femmes-les-plus-inspirantes-750x410.jpg" class="shadow rounded-circle" alt="image">
        </div>
    </div>
</div>