<app-header-style-one></app-header-style-one>




<!-- ************************************************************************************** -->

 
<section class="checkout-area ptb-100">
  <div class="container">
      <div class="user-actions">
          <i class='bx bx-log-in'></i>
          <span>Comprendre le concept ?<a routerLink="/assistanceTWE">Cliquer ici</a></span>
      </div>

<!-- ************************************************************************************** -->
<!-- ************************************************************************************** -->




      <form (ngSubmit)="onSubmit()">
          <div class="row">
              <div class="col-lg-6 col-md-12">
                  <div class="billing-details">
                      <h3 class="title">Informations Personnelles</h3>

                      <div class="row">
                         



                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Cin<span class="required">*</span></label>
                                <input type="text" class="form-control" id="cin" [(ngModel)] ="currentUser.cinCand" name="cin">
                            </div>
                        </div>


                          <div class="col-lg-6 col-md-6">
                              <div class="form-group">
                                  <label>Nom <span class="required">*</span></label>
                                  <input type="text" class="form-control" id="nomCand" [(ngModel)] ="currentUser.nomCand" name="nomCand">
                                </div>
                          </div>

                          <div class="col-lg-6 col-md-6">
                              <div class="form-group">
                                  <label>Prenom<span class="required">*</span></label>
                                  <input type="text" class="form-control" id="prenomCand" [(ngModel)] ="currentUser.prenomCand" name="prenomCand">
                                </div>
                          </div>

                          <div class="col-lg-6 col-md-6">
                              <div class="form-group">
                                  <label>Téléphone</label>
                                  <input type="number" class="form-control" id="telephoneCand" [(ngModel)] ="currentUser.telephoneCand" name="telephoneCand">
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Email<span class="required">*</span></label>
                                <input type="email" class="form-control" id="email" [(ngModel)] ="currentUser.email" name="email">
                              </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Adresse<span class="required">*</span></label>
                                <input type="text" class="form-control" id="adresseCand" [(ngModel)] ="currentUser.adresseCand" name="adresseCand">
                              </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Ville<span class="required">*</span></label>
                                <input type="text" class="form-control" id="villeCand" [(ngModel)] ="currentUser.villeCand" name="villeCand">
                              </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Pays<span class="required">*</span></label>
                                <input type="text" class="form-control" id="paysCand" [(ngModel)] ="currentUser.paysCand" name="paysCand">
                              </div>
                        </div>
                 
     

<br><br>



                          <h3 class="title">Cursus Universitaire   </h3>




 <div class="form-row" *ngFor="let number of parcoursIndex; let i = index">
                       
                           <div class="form-group col-md-3">
                                  <label>Diplome<span class="required">*</span></label>
                                  <input type="text" class="form-control"
                                  [(ngModel)] ="diplomes[i]" name="diplome{{i}}">
                                </div>
              
                     
                           <div class="form-group col-md-3">
                                <label>Université <span class="required">*</span></label>
                                <input type="text" class="form-control" [(ngModel)] ="universityDiplomes[i]" name="universityDiplome{{i}}">     
                             </div>
                   

                            <div class="form-group col-md-3">
                                <label>Année d'obtention <span class="required">*</span></label>
                                <input type="Date" class= "form-control" id="anneeDiplome" [(ngModel)] ="anneeDiplomes[i]" name="anneeDiplome{{i}}">                           
                            
                            </div> 

                     

                          <div class="form-group col-md-2" *ngIf =" i!=0">
                           <span  (click)="removeValue()"><i class="fa fa-minus" style="color: var(--optionalColor);"></i></span>
                             </div>
                    
                             <div class="col-md-3">
                                <span (click)="addValue()" ><i class="fa fa-plus" style="color: var(--mainColor);"></i></span>
                                </div>
                                
      </div> 
      <div class="col-md-12">
        <div class="form-group">
            <label>Certification <span class="required">*</span></label>
            <input type="text" class="form-control"  id="certificationCand" [(ngModel)] ="currentUser.certificationCand" name="certificationCand">
          </div>
    </div>

    <div class="form-row">


      <div class="col-lg-5 col-md-12">
          <div class="form-group">
              <label>Stages <span class="required">*</span></label>
              <input type="text" class="form-control" id="stageCand"  [(ngModel)] ="currentUser.stageCand" name="stageCand">
          </div>
      </div>
  
      <div class="col-lg-5 col-md-12">
          <div class="form-group">
              <label>Societe <span class="required">*</span></label>
              <input type="text" min="0" class="form-control" id="societeStaCand"  [(ngModel)] ="currentUser.societeStaCand" name="societeStaCand">
          </div>
      </div>
    
  </div>

  
<br><br>
    
<h3 class="title">Cursus Professionnelle</h3>


<div class="col-lg-12 col-md-6">
  <div class="form-group">
      <label>Société<span class="required">*</span></label>
      <input type="text" class="form-control" id="societeProCand"  [(ngModel)] ="currentUser.societeProCand" name="societeProCand">
    </div>
</div>


<div class="col-lg-6 col-md-6">
  <div class="form-group">
      <label> Poste <span class="required">*</span></label>
      <input type="text" class="form-control" id="posteProCand"  [(ngModel)] ="currentUser.posteProCand" name="posteProCand">
  </div>
</div>




<div class="col-lg-6 col-md-6">
<div class="form-group">
<label>Année  <span class="required">*</span></label>
<input type="date" class="form-control" id="dureeProCand"  [(ngModel)] ="currentUser.dureeProCand" name="dureeProCand">
</div>
</div>

                          
                      </div>
                  </div>
              </div>

              <div class="col-lg-6 col-md-12">
                  <div class="order-details">
                      <h3 class="title">Importer vos fichiers</h3>

                     

                      <div class="payment-box">
                        <div class="payment-method">
                          <p>
                              <input type="radio" id="direct-bank-transfer" name="radio-group" checked>
                              <label for="direct-bank-transfer">Curriculum Vitae</label>
                          </p>
                          <p>
                              <input type="radio" id="paypal" name="radio-group">
                              <label for="paypal">lettre de motivation</label>
                          </p>
                          <p>
                              <input type="radio" id="cash-on-delivery" name="radio-group">
                              <label for="cash-on-delivery">Autres</label>
                          </p>
                      </div>
                          <br><br>

                          
                          <br><br>
                          <app-upload-file></app-upload-file>




                          
                          <button type="submit" class="default-btn"><i class='bx bx-paper-plane icon-arrow before'></i><span class="label">Valider</span><i class="bx bx-paper-plane icon-arrow after"></i></button>
                      </div>
                  </div>
              </div>

              </div></form></div></section>








<!-- 

<form [formGroup]=formCand #RegistrationForm="ngForm" (ngSubmit)="submit1()">


  <label>Cin</label>
    <input type="number" formControlName="cin" [(ngModel)]="Candidate.cin">


    <label>Nom</label>
    <input type="text" formControlName="nom" [(ngModel)]="Candidate.nom">



    <label>Prénom</label>
    <input type="text" formControlName="prenom" [(ngModel)]="Candidate.prenom">

    
    <label>Adresse</label>
    <input type="text" formControlName="adresse" [(ngModel)]="Candidate.adresse">


    
    <label>Telephone</label>
    <input type="number" formControlName="telephone" [(ngModel)]="Candidate.telephone">


    
    <label>adresse Email</label>
    <input type="text" formControlName="email" [(ngModel)]="Candidat.email">


    <label>mot de passe</label>
    <input type="password" formControlName="password" [(ngModel)]="Candidat.password">



    <button (click)="submit1()">Ok</button>
</form> 

 -->


<!-- here up -->





            <!-- AJOUTER UNE LIGNE DANS LE FORMULAIRE 
    <form [formGroup]="orderForm">
        <div
          formArrayName="items"
          *ngFor="let item of orderForm.get('items')['controls']; let i = index;"
        >
          <div [formGroupName]="i">
            <input formControlName="name" placeholder="Item name">
            <input formControlName="description" placeholder="Item description">
            <input formControlName="price" placeholder="Item price">
          </div>
          Exposed item name: {{ orderForm.controls.items.controls[i].controls.name.value }}
        </div>
        <button type="button" (click)="addItem()">Add Item</button>
      </form> -->


     