

<section class="login-area">
     <div class="row m-0">
         
 
         <div class="col-lg-12 col-md-12 p-0">
             <div class="login-content">
                 <div class="d-table">
                     <div class="d-table-cell">
                         <div class="login-form">
                             <div class="logo">
                                 <a routerLink="/"><img src="assets/img/logo.png" alt="image" width="260px" height="260px"></a>
                             </div>
 
                             <h4>Se connecter </h4>
                             <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate >
                              
                                <div class="form-group"  [ngClass]="{ 'has-error': isSubmitted && email.errors}">

                                  <label for="inputEmail" class="sr-only"></label>
                                  <input type="email" id="inputEmail" [formControlName]="'email'" class="form-control" placeholder="Entrez votre adresse email" required="" autofocus="" email>
                                  
                                  <small *ngIf="email.invalid && email.touched && email.touched" class="help-block">       
                                   <div *ngIf="email.errors?.required && email.touched">
                                      L'adresse email est obligatoire.
                                   </div>
                                   <div *ngIf="email.errors?.email">
                                    Entrer une email valide.
                                    </div>
                                   
                                </small>

                                </div>
                                <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && password.errors}">
                                  <label for="inputPassword" class="sr-only"></label>
                                  <input type="password" id="inputPassword" [formControlName]="'password'"
                                   class="form-control" placeholder="Entre votre mot de passe" required="" autofocus="" minlength="8" maxlength="64" pattern="^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$">

                                   <small *ngIf="password.invalid && password.touched" class="help-block">       
                                       <div *ngIf="password.errors?.required">
                                           Ce champ est obligatoire.
                                       </div>
                                       <div *ngIf="password.errors?.pattern">
                                         
                                        Le mot de passe doit contenir des lettres et des chiffres.
                                       </div> 
                                       <div *ngIf="password.errors?.minlength">
                                           Le mot de passe doit comporter au moins 8 caractères.
                                       </div>
                                       
                                    </small>
                               </div>
                                <button type="submit">Se Connecter</button>
                                <div class="forgot-password">
                                    <a routerLink="/">mot de passe oublié ?</a>
                                </div>

                                <p>Vous n'avez pas de compte ? <a routerLink="/register">s'inscrire</a></p>
<br><br>
                               

                                  </form>
                                  <div class="connect-with-social">
                                    <span>OU</span>
                                    <button type="submit" class="facebook" (click)=" signInWithFB()"><i class='bx bxl-facebook'></i> Connect with Facebook</button>
                                    <button type="submit" class="google" (click)=" signInWithGoogle()"><i class='bx bxl-google'></i> Connect with Google</button>
                                </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>