<!-- A propos de nous -->

<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/1.jpg" class="shadow" alt="image" width="585px" height="600px">
                    <img src="assets/img/2.jpg" class="shadow" alt="image" width="260px" height="300px">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">À propos de nous</span>
                    <h2>Rejoignez nous afin et atteignent vos rêves ..</h2>
                    <h6>On est ici pour vous supporter .</h6>
                    <p>
                        La première plateforme dans le monde arabe, qui s’intéresse aux compétences des femmes tunisiennes entrepreneures 
                        et facilite leurs candidatures aux postes de décision
                    </p>
                
                        <p>Une plateforme dédiée aux femmes qui facilite leur intégration professionnelle.</p>
         
                </div>
            </div>
        </div>
    </div>

    <div id="particles-js-circle-bubble-4"></div>
</section>