<!-- 
<footer>
<section class="contact-info-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div>
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-envelope'></i>
                    </div>
                    <h3>Email Here</h3>
                    <p><a href="mailto:hello@ednuv.com">hello@ednuv.com</a></p>
                    <p><a href="mailto:ednuv@hello.com">ednuv@hello.com</a></p>
                </div>
            </div>




            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-map'></i>
                    </div>
                    <h3>Location Here</h3>
                    <p><a href="https://goo.gl/maps/Mii9keyeqXeNH4347" target="_blank">2750 Quadra Street Victoria Road, New York, USA</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-phone-call'></i>
                    </div>
                    <h3>Call Here</h3>
                    <p><a href="tel:1234567890">+123 456 7890</a></p>
                    <p><a href="tel:2414524526">+241 452 4526</a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="particles-js-circle-bubble-2"></div>
</section>


</footer> -->










<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div>
                


                <section>
               <div>
               <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-envelope'></i>
                    </div>
                    <h3>Email Here</h3>
                    <p><a href="mailto:twe@contact.com">twe@contact.com</a></p>
                    <p><a href="mailto:twe2021@contact.com">twe2021@contact.com</a></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-map'></i>
                    </div>
                    <h3>Localiser</h3>
                    <p><a href="https://www.google.com/maps/place/IBComProd/@36.845107,10.2803473,17z/data=!3m1!4b1!4m5!3m4!1s0x12fd4aae26c00001:0xd5fd48d6cb7f2c15!8m2!3d36.8451639!4d10.2824408" target="_blank">A5, Résidence Farah Lake, Cité les Pins, 1 Rue de la Feuille d'Érable, Tunis</a></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-phone-call'></i>
                    </div>
                    <h3>Appeler</h3>
                    <p><a href="tel:1234567890">+216 71 456 7890</a></p>
                    <p><a href="tel:2414524526">+216 71 452 256</a></p>
                </div>
            </div>
<!-- 
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-map'></i>
                    </div>
                    <h3>Newsletter</h3>

                    <div class="single-footer-widget mb-30">  
                        <div class="newsletter-box">
                            <div class="row">
                            <form class="newsletter-form">
                                <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
                                <div class="col-md-12">
                                <button type="submit">S'inscrire</button>
                            </div>
                            </form>
                                </div>                        
                        </div>
                    </div>
                </div>
            </div> -->


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-map'></i>
                    </div>
                    <h3>Newsletter</h3>
  <br>
                    <a routerLink="/login" class="default-btn"><i class='bx bx-plus-circle icon-arrow before'></i>
                        <span class="label" >Rejoindre</span><i class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div>

            <div id="particles-js-circle-bubble-2"></div>



        </div>
    </div>

</section>
            </div>


<!-- 
            <div class="col-lg-3 col-md-12 ">
                <div class="single-footer-widget mb-30">
                    <h3>Newsletter</h3>

                    <div class="newsletter-box">
                        <form class="newsletter-form">
                            <label>Your e-mail address:</label>
                            <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="footer-bottom-area  bg-color">
        <div class="container">
         
            <p><i class='bx bx-copyright'></i>2021 <a routerLink="/" target="_blank">Tunisian Women's EMPOWERMENT</a> | Tout les droits sont réservés</p>
        </div>
    </div>
</footer>

<button class="chat" routerLink="socket"><i class="fa fa-comment"></i></button>
<div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>
