<app-header-style-one></app-header-style-one>

<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-12">
            <div class="show-results mt-5">
               
                <div class="sort-button float-right">
                    <ul class="list-inline mb-0">
                       
                        <li class="list-inline-item">

<div class="courses-topbar">
    <div class="row align-items-center"> 
        <div class="col-lg-12 col-md-12">
            <div class="topbar-ordering-and-search">
                    <div>
                        <div class="topbar-search">
                            <form class="form-group">
                                <label><i class="bx bx-search"></i></label>
                                <input type="search" (ngModelChange)="searchCandidates(key1.value)" name="search1" #key1="ngModel" ngModel  class="input-search" placeholder="Recherche...">

                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>



                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="left-sidebar">
                <div class="accordion" id="accordionExample">
                    <div class="card mt-4">
                        <a data-toggle="collapse" href="#collapseOne" class="job-list" aria-expanded="true" aria-controls="collapseOne">
                            <div class="card-header" id="headingOne">
                                <h6 class="mb-0 text-dark f-18">Région</h6>
                            </div>
                        </a>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                            <div class="card-body p-0" > 
                                <div class="custom-control custom-checkbox" (click)="getTunisUser()" ng-checked="!isChecked" >
                                    <input type="checkbox"   class="custom-control-input all-select" id="customCheckAll">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheckAll">Tunis</label>
                                </div>

                                <div class="custom-control custom-checkbox" (click)="getSousseUser()">
                                    <input type="checkbox"  class="custom-control-input all-select" id="customCheck22">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck22">Sousse</label>
                                </div>

                                <div class="custom-control custom-checkbox" (click)="getSfaxUser()">
                                    <input type="checkbox" class="custom-control-input all-select" id="customCheck23">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck23">Sfax</label>
                                </div>

                                <div class="custom-control custom-checkbox" (click)="getTozeurUser()">
                                    <input type="checkbox" class="custom-control-input all-select" id="customCheck3">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck3">Tozeur</label>
                                </div>

                                <div class="custom-control custom-checkbox" (click)="getGabesUser()">
                                    <input type="checkbox" class="custom-control-input all-select" id="customCheck4">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck4">Gabes</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-4">
                        <a data-toggle="collapse" href="#collapsetwo" class="job-list" aria-expanded="true" aria-controls="collapsetwo">
                            <div class="card-header" id="headingtwo">
                                <h6 class="mb-0 text-dark f-18">Domaine</h6>
                            </div>
                        </a>
                        <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo">
                            <div class="card-body p-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck5">Santé</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck6">Politique</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck7">Communication</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck8">Digitale &amp; Marketing</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck9">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck9">Santé</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck10">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck10">Construction</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck11">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck11">Culture et patrimoine</label>
                                </div>


                            </div>
                        </div>
                    </div>

                   
                    <div class="card mt-4">
                        <a data-toggle="collapse" href="#collapsefour" class="job-list" aria-expanded="true" aria-controls="collapsefour">
                            <div class="card-header" id="headingfour">
                                <h6 class="mb-0 text-dark f-18">Expérince</h6>
                            </div>
                        </a>
                        <div id="collapsefour" class="collapse show" aria-labelledby="headingfour">
                            <div class="card-body p-0">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customRadio1">1 to 2ans</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customRadio2">2 to 3Yans</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customRadio3">3 to 4ans</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customRadio4">4 to 5ans</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customRadio5">5ans +</label>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="card mt-4">
                        <a data-toggle="collapse" href="#collapsesix" class="job-list collapsed" aria-expanded="false" aria-controls="collapsesix">
                            <div class="card-header" id="headingsix">
                                <h6 class="mb-0 text-dark f-18">Salaire Offert</h6>
                            </div>
                        </a>
                        <div id="collapsesix" class="collapse" aria-labelledby="headingsix">
                            <div class="card-body p-0">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio9" name="customRadio2" class="custom-control-input">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customRadio9">1k - 2k TND</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio10" name="customRadio2" class="custom-control-input">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customRadio10">2k - 3k TND</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio11" name="customRadio2" class="custom-control-input">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customRadio11">3k - 4k TND</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio12" name="customRadio2" class="custom-control-input">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customRadio12">4k - 5k TND</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio13" name="customRadio2" class="custom-control-input">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customRadio13">+ 5k TND</label>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="card mt-4">
                        <a data-toggle="collapse" href="#collapsesevan" class="job-list collapsed" aria-expanded="false" aria-controls="collapsesevan">
                            <div class="card-header" id="headingsevan">
                                <h6 class="mb-0 text-dark f-18">Qualification</h6>
                            </div>
                        </a>
                        <div id="collapsesevan" class="collapse" aria-labelledby="headingsevan">
                            <div class="card-body p-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck19">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck19">Licence</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck20">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck20">Master</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck21">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck21">Cycle d'ingénieurs</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="candidates-listing-item">
                

           liste des candidates 
           <!-- <div class="center" *ngFor="let a of actualite |paginate:{ itemsPerPage: 4, currentPage: page }"> -->


                <div class="list-grid-item mt-4 p-2"  *ngFor="let user of users"  >
                   
                     
                    

                    <div class="row" >
                        <div class="col-md-9">
                            <div class="candidates-img float-left mr-4">
                                <img src="{{user.imageUrl}}" alt="" class="img-fluid d-block rounded">
                            </div>
                            <div class="candidates-list-desc job-single-meta  pt-2">
                                <h5 class="mb-2 f-19"><a href="#" class="text-dark"> {{ user.nomCand }}   {{user.prenomCand }}</a></h5>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item mr-4">
                                        <p class="text-muted f-15 mb-0"><i class="mdi mdi-account mr-1"></i> {{ user.email }}</p>
                                    </li>

                                    <li class="list-inline-item mr-4">
                                        <p class="f-15 mb-0"><a href="" class="text-muted"><i class="mdi mdi-map-marker mr-1"></i> {{ user.adresse }}</a></p>
                                    </li>

                                    <li class="list-inline-item">
                                        <p class="text-muted f-15 mb-0"><i class="fa fa-briefcase"></i>  + {{user.experience}}</p>
                                    </li>
                                </ul>
                                <p class="text-muted mt-1 mb-0">{{user.poste}}</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="candidates-list-fav-btn text-right">
                                <div class="fav-icon">
                                    
                                   
                                    <button (click)="notif(user.id)" style="color: transparent; border: transparent; background-color: transparent;" > <i class="mdi mdi-heart f-20"></i></button>
                                    <!-- <i  (click)="notif(user.id)" class="fa fa-heart"></i>  -->
                                      <i (click) ="getFormById(user.id)"  class="fa fa-heart"></i> 
                                </div>
                                <div class="candidates-listing-btn mt-4">
                                    <a href="/user/{{user.id}}" class="btn btn-outline btn-sm">Voir profil</a>
                                </div>
                            </div>
                        </div>
                    </div>
 
                    <div class="row">
                        <div class="col-lg-11 offset-lg-1">
                            <div class="candidates-item-desc">
                                <hr>
                                <p class="text-muted mb-2 f-14"> Diplomée en : Administration d'affaires {{user.dilomeCand}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- </div> -->

            </div>
        </div>
   
        

 </div>
    
</div>


