<div class="partner-slides owl-carousel owl-theme">

    <div  class="single-partner-item" *ngFor="let partenaire of partenaires">
       
            <a href="" target="_blank" class="d-block" >
                <img src="{{partenaire.retrievedImage}}" alt="image">
            </a>
    
    </div>


</div>




<!-- <div class="partner-slides owl-carousel owl-theme">
    <div class="single-partner-item">
        <a href="#" target="_blank" class="d-block">
            <img src="assets/img/Orange-logo.png" alt="image">
        </a>
    </div>
 
    <div class="single-partner-item">
        <a href="#" target="_blank" class="d-block">
            <img src="assets/img/s.png" alt="image">

        
        </a>
    </div>

    <div class="single-partner-item">
        <a href="#" target="_blank" class="d-block">
            <img src="assets/img/58480fd7cef1014c0b5e4943.png" alt="image">
        </a> 
    </div>

    <div class="single-partner-item">
        <a href="#" target="_blank" class="d-block">
            <img src="assets/img/download.png"  alt="image"/>
        </a>
    </div>

    <div class="single-partner-item">
        <a href="#" target="_blank" class="d-block">
            <img src="assets/img/téléchargement (7).png" alt="image">
         
        </a>
    </div>

    <div class="single-partner-item">
        <a href="#" target="_blank" class="d-block">
            <img src="assets/img/2222.png" alt="image">
        </a>
    </div>
</div> -->