<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Department</th>
        <th>Email</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let friend of friends">
        <td><span>{{friend.id}}</span></td>
        <td><span>{{friend.firstname}}</span></td>
        <td><span>{{friend.lastname}}</span></td>
        <td><span>{{friend.department}}</span></td>
        <td><span>{{friend.email}}</span></td>
        <td><span>{{friend.country}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>